
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
<parameter name="baseURL" value="http://www.hdfcbank.com/assets/popuppages/netbanking.htm?src=hp" />
<parameter name="username" value="$username"/>
<parameter name="password" value="$password"/>

  <test name="Login Test">
    <classes>
      <class name="com.hdfc.tests.LoginPageTest"/>
    
    </classes>
  </test>
  
   <test name="Account Details Test">
    <classes>
      <class name="com.hdfc.tests.AccountDetailsPageTest"/>
    
    </classes>
  </test>
  
   <test name="View List of Beneficiaries Test">
    <classes>
      <class name="com.hdfc.tests.BeneficiariespageTest"/>
    
    </classes>
  </test>
  
   <test name="Add Beneficiary Test">
    <classes>
      <class name="com.hdfc.tests.addBeneficiaryPageTest"/>
    
    </classes>
  </test>
</suite>